html, body{
  height: 45%;
  alignment-baseline: center;
}

body{
  background-image: url(../images/motorcycle.jpg);
  text-align: center;
  background-position: center;
  position: static;

}

#wrap{
  padding: 5px;
  background-color: #D7E6AC;
  width:750px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  min-height: 55%;
  border: 3px solid black;
  margin: auto;
  box-sizing: border-box;
  background-color: transparent 35%;
}

#sub-wrap{
  position: relative;
  top:20%;
}

button{
  display:block;
  width:350px;
  height:75px;
  margin: 0 auto 0 auto;
  border:none;
  cursor: pointer;
  background:transparent 20%;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Prompt', sans-serif;
}


h1{
  font-family: 'Muli', sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: black;
  margin-bottom: 40px;
}

h2{
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  margin-bottom: 25px;
}

h3{
  
  font-family: 'Indie Flower', sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

#start{
  margin-top: 15%;
  background: #FFFF64;
  border:3px solid black;
}

#question_box h2{
  margin-top: 45px;

}

button{
  margin-top: auto;
  border:3px solid black;
  background: white;
}
